---
---

@import "{{ site.theme }}";

// h2 {color: #990000;}

body {
    /* max-width: 1200px; */
    width: 100% !important; 
    margin: auto;
    /* padding: 0 2em 2em 2em; */
    padding: 0px !important;
    color: #333333 !important;
    /* color: #5D5D5D !important; */
    /* background-color: #EEEEEE !important; */
    /* background: #EEEEEE url(../images/body-bg.png) 0 0 repeat !important; */
    /* font-size: 14px !important;  */
    /* font-size: 12px;  */
    /* font-family: 'Roboto+Condensed'; */
}

ul {
    margin-bottom: 0px;
}

h3 {
    margin-top: 2em !important;
}

div.wrapper {
    // width: 80% !important;
    width: 800px !important;
}

div.section {
       width: 100% !important;
}

hr { 
    width: 80%;
    border-top: 0px dotted #666; 
    border-bottom: 3px dotted #666; 
    margin-left: 10%; 
    height: 1px !important; 
    /* background-color: #F00 !important; */
    border-color: #888 !important;
    margin-top: 2em;
}

hr.thick { 
    width: 80%;
    border-top: 0px dotted #666; 
    border-bottom: 3px dotted #666; 
    margin-left: 10%; 
    height: 2px !important; 
    /* background-color: #F00 !important; */
    border-color: #888 !important;
    margin-top: 2em;
}
