---
---

@import "{{ site.theme }}";

// h2 {color: #990000;}

body {
    /* max-width: 1200px; */
    width: 80% !important; 
    margin: auto;
    /* padding: 0 2em 2em 2em; */
    padding: 0px !important;
    /* color: #333333 !important; */
    color: #5D5D5D !important;
    /* background-color: #EEEEEE !important; */
    /* background: #EEEEEE url(../images/body-bg.png) 0 0 repeat !important; */
    /* font-size: 14px !important;  */
    /* font-size: 12px;  */
    font-family: 'Roboto+Condensed';
}

ul {
    margin-bottom: 0px;
}
